

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rock+Salt&display=swap');

:root {
  --primary-color: #FBFDFD;
  --secondary-color: #35BFC4;
  --accent1-color: #D16200;
  --accent2-color: #3A3017;

  --heading-font: 'Rock Salt', serif;
  --paragraph-font: 'Roboto', serif;

  --headline-color-on-white: #3A3017;  /* headlines on a white background */ 
  --headline-color-on-color: #FBFDFD; /* headlines on a colored background */ 
  --paragraph-color-on-white: #3A3017; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FBFDFD; /* paragraph text on a colored background */ 
  --paragraph-background-color: #3A3017  ;
  --nav-link-color: #FBFDFD;
  --nav-background-color: #D16200;
  --nav-hover-link-color: #3A3017;
  --nav-hover-background-color:#FBFDFD;
}

body {
  max-width: 960px;
  padding: 20px;
  font-family: var(--paragraph-font);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
  padding: 125px;
}
nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}
nav a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: var(--nav-link-color);
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}